.aboutBlock{
    color: white;
    padding-bottom: 30px;
}
.about-ice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30vw;
    min-width: 365px;
    background: linear-gradient(113.2deg, #434242 44.63%, #000000 119.87%);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25),inset 0px 0px 6px 5px #000000;
    color: white;

    border-radius: 22px;

    padding: 20px;
    margin: 10px 20px;
}
.about-ice:hover{
    color: black;
    background-color: #FFFFFF;
    transition: color 0.2s linear ;
    background: linear-gradient(195.17deg, #C7C7C7 41.52%, #FFFFFF 132.19%);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25),inset 0px 0px 6px 5px #B5B5B5;
}
.about-ice--alter:hover{
    color: white;

    background: linear-gradient(113.2deg, #434242 44.63%, #000000 119.87%);

    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25),inset 0px 0px 6px 5px #000000;
}
.about-ice--alter{
    color: black;
    background-color: #FFFFFF;

    background: linear-gradient(195.17deg, #C7C7C7 41.52%, #FFFFFF 132.19%);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25), inset 0px 0px 6px 5px #B5B5B5;
}
.about-ice:hover hr{
    border: var(--orange-light) 1px solid;
    box-shadow: 1px 1px 10px 2px var(--orange-light);
}

.about-ice h3{
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.about-content{
    width: 100%;
}
.about-img{
    float:left;

    width: 200px;
    height: 200px;

    border: 1px solid #000000;
    box-shadow: 0px 0px 15px 4px var(--blue-light);
    border-radius: 13px;

    margin: 20px 40px;
}
.about-facts{
    padding: 0 20px;
}
.about-ice:hover .about-img{
    border: var(--orange-light) 1px solid;
    box-shadow: 0px 0px 15px 4px var(--orange-light);
}
.about-education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 40vw;
}
.job{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}
.about-ice:nth-child(2){
    align-self: flex-end;
}
.job-period{
    width: 175px;
}
.job-place{
    text-align: right;
    width: auto;
}
@media screen and (max-width: 1258px) {
    .about-ice:nth-child(2n){
        position: relative;
        align-self: center;
    }

}
@media screen and (max-width: 1125px) {
    .about-ice{
        min-width: 310px;
    }
    .about-ice:nth-child(2n){
        position: relative;
        align-self: center;
        left: 0px;
    }
    .job-period{
        width: 150px;
    }
    .job-place{
        max-width: 150px;
    }
}
@media screen and (max-width: 855px) {
    .aboutBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-ice{
        width: 50%;
    }
    .about-img{
        max-width: 40%;
        margin: 20px ;
    }
    .about-education{
        width: 100%;
        align-items: center;
    }
    .about-ice:nth-child(2n){
        position: relative;
    }
    .job-place{
        max-width: none;
    }
}
@media screen and (max-width: 855px){
    .about-ice{
        width: 80%;
        margin: 5px 20px;
        min-width: 310px;
    }
    .about-content{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
@media screen and (max-width: 550px) {
    .about-ice{
        width: 80%;
        margin: 5px 20px;
        min-width:auto;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-img{
        width: 80%;
        max-width: none;
    }
}
