footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(113.2deg, #434242 44.63%, #000000 119.87%);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25),inset 0px 0px 3px 2px #000000;
    color: white;

    flex-wrap: wrap;
    padding:  20px 40px;
}
.footer-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-social a{
    height: 50px;
}
.copyright{
    text-align: center;
}
@media screen and (max-width: 600px){
    footer{

    }
}