@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Monda:wght@400;700&family=Montserrat&family=Play:wght@400;700&display=swap');
:lang(en) {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
:lang(ru){
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.Michroma:lang(en){
    font-family: 'Michroma', sans-serif;
}
*{
    transition:  all linear 0.5s, font-size linear 0s;
}
body{
    margin: 0;
    font-size: 18px;
}


section{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /*height: 100vh;*/
    padding-top:100px;
    margin-top: -100px;
}
address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;

}
address a{
    text-decoration: none;
    color: black;
}
hr{
    border: var(--blue-light) 1px solid;
    box-shadow: 1px 1px 10px 2px var(--blue-light);
    width: 100%;
    background-color: var(--blue-light);
}
h1{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    z-index: 2;
    margin: 0;
}
p,h3,h2{
    margin: 0;
}
button{

    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 7px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 2rem;

    background-color: transparent;
    text-transform: uppercase;
    color: white;

    transition-duration: 0.3s;
}
button:lang(en){
    font-family: 'Michroma', sans-serif;
}

button:hover{
    color: var(--blue-light);
    border-color:  var(--blue-light);
    box-shadow: 1px 1px 10px 0px var(--blue-light), 1px 1px 5px 1px var(--blue-light) inset;
    cursor: pointer;
}
.button-transparent{
    padding: 0 20px;
    color: white;
}
.button-transparent:hover{
    padding: 0 20px;
    background-color: transparent;

    text-shadow: 0px 1px 15px #ffffff;
}
.temp-block{
    background: linear-gradient(to top, #ffffff, #616161);
    box-shadow: black 1px 1px 10px;
    border: 2px dashed black;
}
.temp-container{
    background: linear-gradient(to top, #ffffff, #c9c9c9);
    box-shadow: black 1px 1px 10px;
    border: 2px dashed black;
}

/* Выравнивание */
.container {
    display: flex;
    justify-content: center;
}
.container-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-wide {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.left {
    text-align: left;
}

.right {
    text-align: right;
}
.light-neon{
    color: var(--blue-light);
    text-shadow: 0px 1px 3px var(--blue-light);
}
.strikethrough{
    text-decoration: line-through;
}

@media screen and (max-width: 1024px){

    p{
        line-height: 24px;
    }
    button{
        font-size: 14px;
        padding: 0 10px;
    }
    section{
        padding-top:60px;
        margin-top: -60px;
    }

}

@media screen and (max-width: 480px){

    .strikethrough{
        text-decoration: line-through;
        font-size: 18px;
    }
    h1{
        margin: 5px 0;
        font-size: 24px;
    }

}
