.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    animation-name: appear;
    animation-duration: 300ms;
}
.modal:hover h3{
    color: var(--blue-light);
    text-shadow: 0px 1px 3px var(--blue-light);
}

.modal-dialog {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;

    width: 100%;
    max-width: 800px;
    max-height: 90vh;
    margin: 0 20px;
    overflow: hidden;

    border-radius: 22px;
    background: rgba(238, 238, 238, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background: linear-gradient(113.2deg, #434242 44.63%, #000000 119.87%);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
    color: white;
}
.modal-header {
    border-bottom: 1px solid #dbdbdb;
    color: var(--blue-light);
    text-shadow: 0px 1px 3px var(--blue-light);
}
.modal-footer {
    border-top: 1px solid #dbdbdb;
    justify-content: flex-end;
}
.modal-close {
    padding:  10px;
    line-height: 18px;
    margin: -1rem 0rem -1rem auto;

    border: 2px solid var(--blue-light);
    border-radius: 10px;
    font-size: 30px;

    cursor: pointer;

}
.modal-close:hover{
    border: 2px solid white;
    color: white;
    text-shadow: none;
}
.modal-body {
    overflow-y: auto;
}
.modal-content {
    padding: 1rem;
}

.modal-title {
    margin: 0;
}



@media screen and (max-width: 956px) {
    .modal-dialog{
        width: 80vw ;
    }
}

@media screen and (max-width: 550px) {
    .modal-dialog{
        max-height: 80vh ;
        width: 95vw;
    }
    .modal-content{
        padding: 0.5rem;
    }

}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}